{% extends 'base.html' %}


{% block header %}

    <h1>Sistema de Gestión de Tareas</h1>
    <p>Bienvenido a nuestro sistema para la gestión eficiente de tareas y proyectos.</p>

{% endblock header %}

{% block content %}

    <h2>Características Destacadas</h2>
    <div>
    <p>Automatización Inteligente: Simplifica tareas rutinarias y asigna automáticamente recursos según las cargas de trabajo.</p>
    </div>

    <div>
    <p>Panel de Control Personalizable: Adaptado a tus necesidades, organiza tu panel de control con widgets personalizables para un acceso rápido a la información clave.</p>
    </div>

    <div>
    <p>Integración con Herramientas Populares: Conéctate con aplicaciones como Slack, Google Calendar y más para una colaboración perfecta.</p>
    </div>

    <div>
    <p>Análisis de Datos: Utiliza potentes herramientas de análisis para evaluar el rendimiento del proyecto y tomar decisiones informadas.</p>
    </div>

    <div>
    <p>Gestión de Documentos: Centraliza y organiza todos los documentos relacionados con el proyecto para un acceso fácil y seguro.</p>
    </div>

{% endblock content %}
